.card {
    margin-bottom: 20px;
    border: none
}

.box {
    width: 500px;
    padding: 40px;
    margin-left: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    transition: 0.25s;
    margin-top: 100px;
    border-radius: 12px;
    border: 5px solid black;
}

.box input[type="text"],
.box input[type="password"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #03318a;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #ef9930
}

.box input[type="submit"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ef9930;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #ef9930
}

.forgot {
    text-decoration: underline
}

body {
    color: white;
    font-weight: bold;
}
